# This is probably the course repo, don't need to upload that
#Computational*
course_repo

# The pdf's are only needed for turning in the assignments, no need to upload those
*.pdf

.DS_Store

#Assignment 3 stuff
Assignment 3.pdf
Noise.csv
Noise.1.csv

#Assignment 4 stuff
LectureToSend/.ipynb_checkpoints
LectureToSend/imgs
LectureToSend/gurobi.log
LectureToSend/Niraj_Lecture.ipynb
LectureToSend/render_anna.*
LectureToSend/utils_anna.*

#Texmaker generates these
*.aux
*.log
*.synctex.*

# I mark old stuff with this
*_bu